.kycContainer {
  display: flex;
  width: 100%;
  height: 200px;
  /* transform: translateY(8px); */
  /* margin-bottom: calc(1.6rem - 8px); */
  border-radius: 8px 8px 0 0;
  overflow: hidden;
  cursor: pointer;
}

.kycContainer > * {
  width: 0;
  max-height: 100%;
  flex-grow: 1;
  object-fit: cover;
  transition: 0.5s ease;
  overflow: hidden;
  display: flex;
  align-items: center;
}

.kycContainer > *:hover {
  width: 200px;
  filter: none;
}

.selectedImage,
.notSelectedImage {
  display: flex;
  justify-content: center;
  align-items: center;
}

.selectedImage {
  border: 4px solid #61dafb;
}

.notSelectedImage {
  filter: grayscale(1);
}

.uploadImageBox {
  margin-top: -10px;
  padding-left: 10px;
  padding-right: 10px;
}
