.MuiToggleButtonGroup-root {
  color: var(--color-primary);
  background-color: var(--color-secondary);
}

.profileInformationFields {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: var(--length-medium-2);
}

.profileInformation {
  .MuiButton-root {
    min-width: 100px;
  }

  .MuiToggleButton-root {
    width: 60px;
  }
}

.countryPhoneCodeTextfield {
  min-width: 100px !important;
}
