.announcement {
  &.MuiCard-root {
    overflow: unset;
    display: flex;
    flex-direction: column;
    padding: var(--length-medium-2);
    border-radius: var(--length-small-3);
    overflow: hidden;
  }

  .announcementAmount {
    width: 100%;

    :first-child:not(.MuiTextField-root) {
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .announcementAmount,
  .announcementAmountTextfield .MuiInputBase-input {
    font-size: 3.5em;
    font-weight: 600;
    line-height: 1;
    display: flex;
    justify-content: space-between;
  }

  .announcementAmountTextfield .MuiInputBase-input {
    height: 50px;
  }

  .announcementStatus {
    color: var(--color-primary);
    font-size: 1.125em;
    font-weight: 600;
    line-height: 1.2;
  }

  .announcementTokensFrom {
    font-weight: 600;
    color: #627084;
    display: flex;
    align-items: center;
    gap: var(--length-medium-1);
  }

  .announcementEmail {
    font-weight: 600;
    font-size: 0.8em;
    color: #2e3c40;
  }

  .announcementMessage {
    flex-grow: 1;
  }

  .announcementContainer {
    display: flex;
    flex-direction: column;
    flex: 1 1 0;
    gap: var(--length-medium-1);
  }

  // .announcementAmountTextfield .MuiInputBase-input {
  //   color: red;
  // }
}
