.navBarTop {
  background-color: var(--color-secondary);
  flex: 0 0 0 !important;
  display: flex;
  justify-content: flex-end;
  gap: var(--length-medium-2);
  padding: var(--length-small-3);

  * {
    color: var(--color-background);
  }
}
