.pageHeader {
  background-color: var(--color-primary);
  height: var(--length-large-3);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--length-medium-3);
  padding-left: calc(var(--length-medium-3) + var(--length-medium-2));
}

.headerIcons {
  display: flex;
  gap: var(--length-medium-3);
  align-items: center;

  > div {
    display: flex;
    gap: var(--length-small-3);
  }

  svg {
    width: 24px;
    height: 24px;
  }
}
