.navBarLateral {
  position: relative;
  min-width: 280px;
  max-width: 280px;
  height: 100%;
  display: flex;
  flex-direction: column;
  // gap: var(--length-large-2);
  background: var(--color-background) !important;
  -webkit-box-shadow: 10px 0px 14px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 10px 0px 14px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 10px 0px 14px 0px rgba(0, 0, 0, 0.3);
  z-index: 9;
  transition: all 0.5s ease-in-out;
  // overflow: hidden;

  &.hidden {
    min-width: 100px;
    max-width: 100px;
    // min-width: 0px;
    // max-width: 0px;

    .linkText {
      display: none;
    }

    .linkIcon {
      margin-right: 0;
    }

    .logo {
      padding: var(--length-medium-1);
    }

    .hideNavBarContainer .MuiSvgIcon-root {
      transform: rotate(270deg);
    }

    .blockText {
      padding-left: 0;
    }

    .link {
      padding-left: 0;
      margin-right: 0;
      width: 40px;
      height: 40px;
      justify-content: center;

      &.active {
        border-radius: 999px;
      }
    }

    .navBarLateralButtonsContainer > div {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  .logoContainer {
    background-color: var(--color-secondary);
  }

  .link {
    height: calc(2 * var(--length-medium-2));
    border-radius: 0 var(--length-medium-2) var(--length-medium-2) 0;
    display: flex;
    align-items: center;
    padding-left: var(--length-medium-3);
    font-size: var(--length-medium-1);
    color: var(--color-secondary);
    text-wrap: nowrap;
    margin-right: var(--length-medium-3);
  }

  .active {
    background-color: var(--color-primary);
  }

  .MuiDivider-root {
    border-color: var(--color-background);
  }

  .logo {
    padding: var(--length-medium-3);
  }

  img {
    width: auto;
  }

  .hideNavBarContainer {
    position: absolute;
    right: 0;
    transform: translateX(100%);
    background-color: var(--color-primary);
    border-radius: 0 999px 999px 0;
    color: unset;
    padding: var(--length-small-2);
    margin-top: 2px;

    .MuiSvgIcon-root {
      color: var(--color-secondary);
      transition: all 0.5s ease-in-out;
      transition-delay: 0.5s;
      transform: rotate(90deg);
    }
  }

  .linkIcon {
    margin-right: var(--length-small-2);

    .MuiSvgIcon-root {
      width: 20px;
      height: 20px;
    }
  }

  .blockText {
    padding-left: var(--length-medium-3);
  }
}

.navBarLateralButtonsContainer {
  display: flex;
  flex-direction: column;
  gap: var(--length-medium-2);
  overflow-x: hidden;
  overflow-y: auto;
  padding-top: var(--length-large-2);
  padding-bottom: var(--length-large-2);
  color: rgba(0, 0, 0, 0.7);

  a {
    color: rgba(0, 0, 0, 0.7) !important;

    &.active {
      color: black !important;
    }
  }
}

.darkEffect {
  position: fixed;
  z-index: 8;
  width: 100vw;
  height: 100vh;
  transition: all 0.5s ease-in-out;
  pointer-events: none;

  &:not(.hidden) {
    background-color: rgba(0, 0, 0, 0.3);
  }
}

@media only screen and (min-width: 1200px) {
  .darkEffect {
    background-color: rgba(0, 0, 0, 0) !important;
  }
}
