.informationCard {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  /* min-width: 300px; */
  flex: 1 0 auto;
  height: fit-content;
  --tw-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  overflow: hidden;
}

.contentHeaderModal {
  display: flex;
  align-items: center;
  border-radius: 8px 8px 0px 0px;
  color: white;
  background: #192d3e;
  min-height: 64px;
  justify-content: space-between;
  padding: 16px 24px;

  .MuiTypography-root {
    color: inherit;
  }
}
