.app {
  width: 100vw;
  height: 100vh;
  display: flex;
  background-color: var(--color-background);
}

.appPage {
  display: flex;
  flex-direction: column;
  flex: 1 1 0;
  justify-content: center;
  overflow: hidden;

  > :last-child {
    flex: 1 1 0;
  }
}
