/* $border-color: #b2b2b2; */

.mainContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 100%;

  border-left: 1px solid #c0c0c0;
  border-bottom: 1px solid #c0c0c0;
  border-right: 1px solid #c0c0c0;
  border-radius: 10px;
  /* margin-bottom: 2.4rem; */
  gap: 0 !important;
}

.childrenContainer {
  padding: 1em;
  padding-top: 0em;
}

.header {
  display: flex;
  flex-direction: row;
  width: 100% !important;
}

.headerBorderBefore {
  border-top: 1px solid #c0c0c0;
  width: 1em;
  border-top-left-radius: 10px;
}

.headerTitle {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  gap: 0.25em;
  width: fit-content;
  height: 2em;
  margin: -1em 0.5em 0em 0.5em;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 1em;
  font-weight: 600;
  /* transform: scale(0.75); */
}

.headerBorderAfter {
  border-top: 1px solid #c0c0c0;
  width: 1em;
  flex-grow: 2;
  border-top-right-radius: 10px;
}

.title {
  color: #c0c0c0;
  font-size: 14px;
  font-family: Inter var, Roboto, "Helvetica", Arial, sans-serif;
  font-weight: 400;
}
